*
{
    margin: 0;
    padding: 0;
}

html
{
    margin: 0;
    padding: 0;
}

body
{
    margin: 0;
    padding: 0;
    background: #131516;
}

header
{

}

footer
{

}

h1
{
    @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
    
    color: #d8d4cf;
    font-family: 'Indie Flower', cursive;
    text-align: center;
}
